<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href ="style.css" />
        <title>ShopIn</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <button onclick="openMenu()">
                        &#9776;
                    </button>
                    <a href="index.html">ShopIn</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">SignIn</a>
                </div>
            </header>
            <aside class="sidebar">
                <h3>Shopping Categories</h3>
                <button class="sidebar-close-button" onclick="closeMenu()">X</button>
                <ul>
                    <li><a href="index.html">Shirts</a></li>
                    <li><a href="index.html">Pants</a></li>
                </ul>
            </aside>
            <main class="main">
                <div class="content">
                    <ul class="products">
                        <li>
                            <div class="product">
                                <img class="product-image" src="https://images.express.com/is/image/expressfashion/0097_09705522_0003?cache=on&wid=361&fmt=jpeg&qlt=75,1&resmode=sharp2&op_usm=1,1,5,0&defaultImage=Photo-Coming-Soon" alt="product" />
                                <div class="product-name"><a href="product.html">Slim Shirt</a></div>
                                <div class="product-brand">Portofino</div>
                                <div class="product-price">400 Rs</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="https://i.pinimg.com/originals/2c/d5/f2/2cd5f287adb277ddbd639f8c034cec13.jpg" alt="product" />
                                <div class="product-name"><a href="product.html">Dress Shirt</a></div>
                                <div class="product-brand">Madelana</div>
                                <div class="product-price">600 Rs</div>
                                <div class="product-rating">4.2 Stars (15 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="https://images-na.ssl-images-amazon.com/images/I/912kORaQ-BL._UY550_.jpg" alt="product" />
                                <div class="product-name"><a href="product.html">Half Sleeve Shirt</a></div>
                                <div class="product-brand">Double Two</div>
                                <div class="product-price">450 Rs</div>
                                <div class="product-rating">4.0 Stars (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="https://4.imimg.com/data4/MD/SE/MY-21778119/women-formal-pants-500x500.jpg" alt="product" />
                                <div class="product-name"><a href="product.html">Grey Formal Pants</a></div>
                                <div class="product-brand">Leo 9</div>
                                <div class="product-price">800 Rs</div>
                                <div class="product-rating">4.8 Stars (20 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="https://4.imimg.com/data4/MI/DF/MY-1863278/ladies-formal-trouser-500x500.jpg" alt="product" />
                                <div class="product-name"><a href="product.html">Cream Formal Pants</a></div>
                                <div class="product-brand">Benaka Fashion</div>
                                <div class="product-price">750 Rs</div>
                                <div class="product-rating">4.5 Stars (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="https://3.imimg.com/data3/EM/CI/MY-4121280/womens-formal-pants-from-india-500x500.jpg" alt="product" />
                                <div class="product-name"><a href="product.html">Black Ankle Length Pants</a></div>
                                <div class="product-brand">M M Fashion</div>
                                <div class="product-price">700 Rs</div>
                                <div class="product-rating">4.0 Stars (5 Reviews)</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
            <footer class="footer">
                All rights reserved
            </footer>
        </div>
        <script>
            function openMenu(){
                document.querySelector(".sidebar").classList.add("open");
            }
            function closeMenu(){
                document.querySelector(".sidebar").classList.remove("open")
            }
        </script>
    </body>
</html>